.contenedor {
  display: flex;
  column-gap: 60px;
  row-gap: 100px;
  justify-content: center;
  flex-wrap: wrap;
}

.paginado {
  background-color: rgb(189, 179, 179);
  border-radius: 50px;
  width: 90%;

  margin-left: 5%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.btnPaginas {
  margin: 3px;
}
